<form class="input-group mb-3" [formGroup]="searchForm" (ngSubmit)="submit()">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />
  <select formControlName="type" class="form-control" style="flex: 0 1 100px">
    <option value="album">Albums</option>
    <option value="artist">Artists</option>
  </select>
  <button class="btn btn-outline-secondary" type="submit">
    Search
  </button>
</form>
