<div class="row row-cols-1 row-cols-sm-4 g-0">
  <div class="col mb-3" *ngFor="let result of results">
    <!-- <ng-template
      [ngTemplateOutlet]="outlet"
      [ngOutletContext]="context"
    ></ng-template> -->

    <ng-container [ngSwitch]="result.type">
      <app-album-card *ngSwitchCase="'album'" [result]="result"></app-album-card>
      <app-artist-card *ngSwitchCase="'artist'" [result]="result"></app-artist-card>
    </ng-container>
  </div>
</div>
<!-- 
<ng-template #albumTpl let-result>
  <app-album-card></app-album-card>
</ng-template>

<ng-template #artistTpl let-result>
  <app-artist-card></app-artist-card>
</ng-template> -->
