<h1 class="display-2">Search</h1>

<div class="row">
  <div class="col">
    <app-search-form (search)="search($event)"></app-search-form>
  </div>
</div>
<div class="row">
  <div class="col">
    <ng-container *ngIf="results | async as data">
      <app-search-results [results]="data"></app-search-results>
    </ng-container>
  </div>
</div>
